<?xml version='1.0' encoding='UTF-8' ?>
	<widget xmlns 	= 'http://www.w3.org/ns/widgets'
		xmlns:gap 	= 'http://phonegap.com/ns/1.0'
		id 			= 'com.noah.app'
		versionCode = '13'
		version 	= '1.0.3'>
		<gap:platform name='android'/>
		<gap:platform name='ios'/>

		<name>USD Dining</name>
		<description>App to provide users with up to date dining information</description>
		<author href='noahthomas.us' email='007noahthomas@gmail.com'>Noah Thomas</author>
		<icon src="images/icon.png"/>
		
		<preference name='DisallowOverscroll' value='true' />
		<preference name='UIWebViewBounce' value='false' />
		<preference name='webviewbounce' value='false' />
		<preference name='orientation' value='portrait' />
		<preference name='fullscreen' value='true' />
	</widget>