<?xml version='1.0' encoding='UTF-8' ?>
	<widget xmlns='http://www.w3.org/ns/widgets'
		xmlns:gap='http://phonegap.com/ns/1.0'
		id='com.andrew.'
		versionCode='10'
		version='1.0.0'>
		<gap:platform name='ios' />
		<name></name>
		<description></description>
		<author href='andrewthomas.us' email='andrew.developer87@gmail.com'>Andrew Thomas</author>
		<preference name='DisallowOverscroll' value='true' />
		<preference name='UIWebViewBounce' value='false' />
		<preference name='webviewbounce' value='false' />
		<preference name='orientation' value='portrait' />
		<preference name='fullscreen' value='true' />
	</widget>