/* ------------------------------------------------------------------------------------------------
			Main Styles
------------------------------------------------------------------------------------------------ */

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #222;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

div#wrapper {
	min-height: calc(100vh - 2em);
}

div#header {
	z-index: 100;
	position: fixed;
	width: 100%;
	padding: 0.5em;
	background-color: rgb(6, 118, 194);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
}

div#header img {
	height: 2em;
	vertical-align: middle;
	padding: 0.5em;
}

div#header h1 {
	color: white;
	font-size: 1.25em;
	text-transform: uppercase;
	vertical-align: middle;
	display: inline-block;
	line-height: 1em;
	font-weight: 300;
}

div#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 12.5em;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	z-index: 99;
	-webkit-transform: translate(-12.5em, 0);
	-webkit-transition: transform 0.25s ease, opacity 2s ease;
	
	transform: translate(-12.5em, 0);
	transition: transform 0.25s ease, opacity 2s ease;
}

div#menu.active {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

div#menu a {
	display: block;
	width: calc(100% - 3em);
	color: white;
	text-decoration: none;
	padding: 0.5em 1.5em;
	margin: 0;
	font-size: 1.25em;
}

div#menu a:first-child {
	padding-top: 4em;
}

div#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 98;
	/*exit of overlay*/
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	opacity: 0;
	-webkit-transition: transform 0s ease, opacity 0.5s ease;
	-webkit-transition-delay: 0.5s, 0s;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0.5s, 0s;
}

div#overlay.active {
	/*intro to overlay*/
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	-webkit-transition: transform 0s ease, opacity 0.5s ease;
	-webkit-transition-delay: 0s, 0s;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0s, 0s;
}

div#footer {
	height: 2em;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: rgb(12, 183, 240);
	background-color: #222;
}
div#footer p {
	margin: 0;
	color: rgb(6, 118, 194);
	padding: 0.5em;
	line-height: 1em;
}


/* ------------------------------------------------------------------------------------------------
			Home Page Styles
------------------------------------------------------------------------------------------------ */

div#dining {
	padding-top: 4em;
	text-align: center;
}

div#dining>div {
	width: 100%;
	height: 30vh;
	position: relative;
	box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

div#dining div div {
	height: 100%;
	background-position: center;
	background-size: cover;
	z-index: 49;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

div#dining div img {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	transform: translate(0, -40%);
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
}

div#dining div h3 {
	z-index: 50;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 0;
	margin: 0;
	font-size: 2em;
	font-weight: 300;
	color: white;
	width: 80%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
}


/* ------------------------------------------------------------------------------------------------
			Dining Location Styles
------------------------------------------------------------------------------------------------ */

div#main {
	padding-top: 4em;
	color: white;
}

div#main img {
	width: 100%;
}

div#main nav {
	display: block;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div#main nav a {
	display: inline-block;
	color: #ddd;
	width: 33%;
	font-size: 1.25em;
	padding: 0.225em 0;
	text-align: center;
	background-color: rgb(4, 52, 128);
}

div#main nav a.active {
	color: white;
	background-color: rgb(4, 62, 138);
}

div#main section {
	padding: 0.5em;
	width: calc(100% - 1em);
	position: absolute;
	//////////////////////////////////////////
	/*exit*/
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	opacity: 0;
	-webkit-transition: transform 0s ease, opacity 0.5s ease;
	-webkit-transition-delay: 0.5s, 0s;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0.5s, 0s;
}

div#main section.active {
	/*enter*/
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	-webkit-transition: transform 0s ease, opacity 0.5s ease;
	-webkit-transition-delay: 0s, 0s;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0s, 0s;
}

div#main section h1 {
	margin: 0.125em auto;
	padding-bottom: 0.25em;
	text-align: center;
	line-height: 1em;
	border-bottom: 1px solid white;
	font-weight: 300;
}

div#main section h4 {
	margin: 0.5em 0;
	font-weight: 300;
}

div#main section p {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

div#main section#menu div#collapsible {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

div#main section#menu div#collapsible h3 {
	margin-top: 0;
	margin-bottom: 0.25em;
	padding: 0.5em;
	padding-left: 1em;
	background-color: rgb(4, 52, 128);
	font-weight: 300;
}

div#main section#menu div#collapsible div#content {
	display: none;
}

div#main section#menu div#collapsible div#content.active {
	display: block;
}

div#main section#menu div#collapsible div#content p {
	font-size: 0.875em;
	margin: 0.5em 1em;
}

div#main section#menu div#collapsible div#content table {
	text-align: left;
	margin: 0.5em 1em;
	border-collapse: collapse;
	border: 1px solid #444;
}

div#main section#menu div#collapsible table td, div#main section#menu div#collapsible table th {
	font-size: 0.875em;
	padding: 0.25em 0.5em;
	border: 1px solid #444;
}
