/*Top stuff, html body, tap settings*/
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #222;
	font-family: 'Lato', sans-serif;
}

/*Header stuff*/
div#header {
	z-index: 100;
	position: fixed;
	width: 100%;
	padding: 0.5em;
	background-color: rgb(6, 118, 194);
	/*background-color: rgb(4, 52, 128);*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
}

div#header h1 {
	color: white;
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: 300;
	vertical-align: middle;
	display: inline-block;
	line-height: 1em;
}

div#header img {
	height: 2em;
	vertical-align: middle;
	padding: 0.5em;
}

/*Menu stuff*/
div#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 12.5em;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	z-index: 99;
	transform: translate(-12.5em, 0);
	transition: transform 0.25s ease, opacity 2s ease;
}

div#menu.active {
	transform: translate(0, 0);
}

div#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 98;
	/*exit of overlay*/
	transform: translate(-100%, 0);
	opacity: 0;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0.5s, 0s;
}

div#overlay.active {
	/*intro to overlay*/
	transform: translate(0, 0);
	opacity: 1;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0s, 0s;
}

div#menu a {
	display: block;
	width: calc(100% - 3em);
	color: white;
	text-decoration: none;
	padding: 0.5em 1.5em;
	margin: 0;
	font-size: 1.25em;
	font-weight: 300;
}

div#menu a:first-child {
	padding-top: 4em;
}

/*Main page display
	Large dining div
		Smaller div to hold h3 and picture div*/
div#dining {
	padding-top: 4em;
	text-align: center;
}

/*Divs to hold h3 and picture divs*/
div#dining>div {
	width: 100%;
	height: 30vh;
	position: relative;
	box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

/*The picture divs*/
div div div {
	height: 100%;
	background-position: center;
	background-size: cover;
	z-index: 49;
}

div div h3 {
	z-index: 50;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 0;
	margin: 0;
	font-size: 2em;
	color: white;
	width: 80%;
	transform: translate(0, -50%);
	font-weight: 300;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
}

/*When you click dining location div (lvl 2) make bigger*/
div#dining div:active div {
	transform: scale3d(1.5, 1.3, 1.3);
}

/*Main div for each dining location
	Will hold logo of location on top
	div on bottom contains 3 different sections
		nav through these sections - about, info, menu*/
div#main {
	padding-top: 4em;
	color: white;
}

div#main img {
	width: 100%;
}

div#main nav {
	display: block;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
div#main nav a {
	display: inline-block;
	color: #ddd;
	width: 33%;
	font-size: 1em;
	padding: 0.375em 0;
	text-align: center;
	background-color: rgb(4, 52, 128);
}
div#main nav a.active {
	color: white;
	background-color: rgb(4, 62, 138);
}

/*Section stuff and transitions*/
div#main section {
	padding: 0.5em;
	width: calc(100% - 1em);
	position: absolute;
	
	/*exit*/
	transform: translate(-100%, 0);
	opacity: 0;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0.5s, 0s;
}
div#main section.active {
	/*enter*/
	transform: translate(0, 0);
	opacity: 1;
	transition: transform 0s ease, opacity 0.5s ease;
	transition-delay: 0s, 0s;
}

/*Text in section*/
div#main section h1 {
	margin-top: 0.125em;
	padding-bottom: 0.25em;
	text-align: center;
	line-height: 1em;
	border-bottom: 1px solid white;
}
div#main section h3 {
	text-align: center;
	line-height: 1em;
}
div#main section h4 {
	margin: 0.5em 0;
}
div#main section p {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

/*Table for menu*/
div#main section table {
	text-align: left;
	margin: 0 auto;
	border-collapse: collapse;
	border: 1px solid white;
}

div#main section table td, div#main section table th {
	padding: 0 0.5em;
	border: 1px solid white;
}

/*Footer and wrapper*/
div#wrapper {
	min-height: calc(100vh - 2em);
}
div#footer {
	height: 2em;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: rgb(12, 183, 240);
	background-color: #222;
}
div#footer p {
	margin: 0;
	color: rgb(6, 118, 194);
	padding: 0.5em;
	line-height: 1em;
}
