
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #222;
	font-family: 'Lato', sans-serif;
}

div#header {
	z-index: 100;
	position: fixed;
	width: 100%;
	padding: 0.5em;
	background-color: rgb(4, 52, 128);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
}

div#header h1 {
	/*color: rgb(6, 118, 194);*/
	color: white;
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: 300;
	vertical-align: middle;
	display: inline-block;
	line-height: 1em;
}

div#header img {
	height: 2em;
	vertical-align: middle;
	padding: 0.5em;
}

div#menu {
	position: fixed;
	width: 15em;
	height: 100%;
	background-color: #222;
	top: 0;
	left: 0;
	z-index: 101;
	transform: translate(-20em, 0);
	transition: transform 0.25s ease;
}

div#menu.active {
	transform: translate(0, 0);
}

div#overlay {
	display: none;
	opacity: none;
}

div#menu.active + div#overlay {
	height: 100%;
	width: 100%;
	opacity: 1;
	display: block;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.125);
}

div#menu a {
	display: block;
	width: 100%;
	color: white;
	text-decoration: none;
	padding: 0.5em 1.5em;
	margin: 0;
	font-size: 1.25em;
	font-weight: 300;
}

div#menu a:first-child {
	padding-top: 1em;
}

div#dining {
	padding-top: 4em;
	text-align: center;
}

div#dining>div {
	width: 100%;
	height: 30vh;
	position: relative;
	box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

div div div {
	height: 100%;
	background-position: center;
	background-size: cover;
	transition: transform 0.25s ease;
	z-index: -1;
}

div div h3 {
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 0;
	margin: 0;
	font-size: 2em;
	color: white;
	width: 80%;
	transform: translate(0, -50%);
	font-weight: 300;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
}

div#dining div:active div, div#dining div:hover div {
	transform: scale3d(1.1, 1.1, 1.1);
}

div#footer {
	text-align: center;
	color: rgb(12, 183, 240);
}
